.footer{
	background: rgba(255,255,255,.9);
    border-top: 1px solid #ddd;
    color: #999;
    clear:both;
    z-index:1
}
.footer>.footer-info{
	text-align: center;
}


.scroll-bar {
 position: fixed;
 top: 0;
 left: 0;
 z-index: 4500;
 display: none;
 width: 0;
 height: 2px;
 background: rgb(88, 2, 255);
}